@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--border);
  }

  html {
    font-family: var(--font-sans);
    font-size: calc(
      100% * var(--site-display-scale) * var(--site-viewport-font-factor)
    );
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  main {
    @apply relative;
  }

  a {
    @apply text-foreground underline-offset-4 hover:underline;
  }

  :focus-visible {
    @apply ring-ring ring-offset-background ring-2 ring-offset-2 outline-none;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    }
  }
}
